# Build results
OpenRelay/[Dd]ebug/
OpenRelay/[Dd]ebugPublic/
OpenRelay/[Rr]elease/
OpenRelay/[Rr]eleases/
OpenRelay/x64/
OpenRelay/x86/
OpenRelay/[Ww][Ii][Nn]32/
OpenRelay/[Aa][Rr][Mm]/
OpenRelay/[Aa][Rr][Mm]64/
OpenRelay/bld/
OpenRelay/[Bb]in/
OpenRelay/[Oo]bj/
OpenRelay/[Ll]og/
OpenRelay/[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# NuGet
packages/
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Local History
.localhistory/

# Visual Studio History
.vshistory/